body {
    background-color: #D5E1EF;
    text-align: center;
}

.card {
    position: fixed;
    margin: auto;
    inset: 0;
    height : 470px;
    width: 100%;
    max-width: 302px;
    background-color: white;
    box-shadow: 10px 10px 8px 10px rgb(136, 136, 136 ,0.1);
    border-radius: 16px;
    padding: 16px;
    font-family: sans-serif;
}

img {
    width: 100%;
    border-radius: 16px;
}

h2,p {
    color : #252D47;
}

@media (max-width : ) {
    
}